:root {
  --background-grey: #E6E6E6;
  --background-grey2: #e9e8e8;
  --background-purple: #8e44ad;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: .9rem;
}

body {
  background-color: var(--background-grey);
  color: #424242;
}

@media (min-width: 1900px) {
  * {
    font-size: 1em;
  }
  
}