:root {
  --background-grey: #E6E6E6;
  --background-grey2: #e9e8e8;
  --background-purple: #8e44ad;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-grey);
  color: #424242;
}